:root {
  --md-primary-fg-color:        #0D001A;
  --md-primary-fg-color--light: #0D001A;
  --md-primary-fg-color--dark:  #0D001A;
  --md-accent-fg-color:        	#6F1D5C;
  --md-accent-fg-color--light: 	#6F1D5C;
  --md-accent-fg-color--dark:  	#6F1D5C;
}